-# ----------------------------------------------------------------------------
-# app/views/pages/home.html.haml
-# ----------------------------------------------------------------------------
%h1 Pages#home
%p  Dude, find me in app/views/pages/home.html.erb
