//-----------------------------------------------------------------------------
// app/webpacker/src/stylesheets/pages.scss
//-----------------------------------------------------------------------------
.robot-icon {
  background-image:       url('../images/icon_robots_16');
  background-repeat:      no-repeat;
  
  h3 {
    padding-left:         2.0rem;
  }
}
